<table>
    <tr>
        <td>
            Specify Name:
            <input type="text" [(ngModel)]="emp.name" required>
        </td>
    </tr>
    <tr>
        <td>
            Age:
            <input type="number" [(ngModel)]="emp.age" required name="age" id="age">
        </td>
    </tr>
    <tr>
        <td>
            Address
            <input type="text" [(ngModel)]="emp.address" required name="address" id="address">
        </td>
    </tr>
    <tr>
        <td>
            <button (click)="onSubmit()">Submit</button>
        </td>
    </tr>
</table>
<hr>

<table>
    <tr style="background-color: aqua;">
        <td>
            #
        </td>
        <td>
            Name
        </td>
        <td>
            Age
        </td>
        <td>
            Address
        </td>
        <td>
            -
        </td>
    </tr>
    <tr *ngFor="let e of employees; let i = index">
        <td>
            <span [hidden]="(i == editIndex)">{{i + 1}}</span>
        </td>
        <td>
            <span [hidden]="(i == editIndex)">
                {{e.name | uppercase }}
            </span>
            <input type="text" 
                [(ngModel)]="employees[i].name"
                [hidden]="!(i == editIndex)" >
        </td>
        <td>
            <span [hidden]="(i == editIndex)">
                {{e.age}}
            </span>
            <input type="text" [(ngModel)]="employees[i].age"
            [hidden]="!(i == editIndex)">
        </td>
        <td>
            <span [hidden]="(i == editIndex)">
                {{e.address | titlecase}}
            </span>
            <input type="text" 
            [(ngModel)]="employees[i].address"
            [hidden]="!(i == editIndex)">
        </td>
        <td>
            <button  (click)="onEdit(i)">{{(i == editIndex) ? 'Update' : 'Edit'}}</button>
        </td>

    </tr>
</table>