<!-- <form #empForm="ngForm" (ngSubmit)="onSubmit(empForm)">
    EmpID: <input  type="text" name="empId" [(ngModel)]="model.empid" #empid="ngModel"
    required
    id="">
    <span *ngIf="empid.invalid && !empid.pristine" class="text-danger" >EmpId is required</span>
    <br>
    Gender <input type="radio" name="gender" value="M" id="">Male
    <input type="radio" name="gender" value="F" id="">Female<br>
    City <select name="city" id="">
        <option value="B">Bangalore</option>
        <option value="C">Chennai</option>
        <option value="T">Tamil Nadu</option>
    </select>
    <br>
    <br>
    <button type="submit" [disabled]="empForm.invalid"  >Submit</button>
</form> -->